<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hb/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,198},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>hb/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>hb/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>hb/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>hb/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,198},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>hb/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{115,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,96}}</string>
                <key>sourceSize</key>
                <string>{115,96}</string>
            </dict>
            <key>hb/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>hb/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,96}}</string>
                <key>sourceSize</key>
                <string>{125,96}</string>
            </dict>
            <key>hb/0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{124,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,96}}</string>
                <key>sourceSize</key>
                <string>{124,96}</string>
            </dict>
            <key>hb/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{118,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,96}}</string>
                <key>sourceSize</key>
                <string>{118,96}</string>
            </dict>
            <key>hb/0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,292},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hb.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c809f2df1f6a73b8f6a3e8798887dbb3$</string>
            <key>textureFileName</key>
            <string>hb.png</string>
        </dict>
    </dict>
</plist>
