<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buddhasLightEff/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{144,144}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{144,144}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,572},{178,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{178,176}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{188,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{188,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>buddhasLightEff/0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,188}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buddhasLightEff.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3173135c675dba21d1eae35c03ac5d3f$</string>
            <key>textureFileName</key>
            <string>buddhasLightEff.png</string>
        </dict>
    </dict>
</plist>
