<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>woodenFish/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,271}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{388,271}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>woodenFish/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{388,251}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{388,251}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>woodenFish/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{388,189}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{388,189}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
            <key>woodenFish/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,271}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{388,271}}</string>
                <key>sourceSize</key>
                <string>{388,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>woodenFish.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ba8624ada138d3cb36f8c5d237c3eb$</string>
            <key>textureFileName</key>
            <string>woodenFish.png</string>
        </dict>
    </dict>
</plist>
